@font-face {
  font-family: 'IndieFlower';
  src: url('IndieFlower.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FredokaOne';
  src: url('FredokaOne.ttf');
  font-style: normal;
}
